<link rel='stylesheet' href='/stylesheets/admin.css'/>
<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>
<link rel='stylesheet' href='/stylesheets/clock.css'/>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/admin/menuEdit">Categories</a>
            </li>
            <li>
                <a href="/users/admin/dishesOptions">Dishes</a>
            </li>
            <li>
                <a href="/users/admin/ordersOptions">Orders</a>
            </li>
            <li>
                <a href="/users/admin/commentsOptions">Comments</a>
            </li>
        </ul>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

    <body>
    <div class="dial">
        <div class="dot"></div>
        <div class="sec-hand"></div>
        <div class="sec-hand shadow"></div>
        <div class="min-hand"></div>
        <div class="min-hand shadow"></div>
        <div class="hour-hand"></div>
        <div class="hour-hand shadow"></div>
        <span class="twelve">12</span>
        <span class="three">3</span>
        <span class="six">6</span>
        <span class="nine">9</span>
        <span class="diallines"></span>
        <div class="date"></div>
    </div>
    </body>
</div>


<script src="/javascripts/clock.js"></script>