<link rel='stylesheet' href='/stylesheets/calendar.css'/>
<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/users/calendar">Calendar</a>
            </li>
            <li>
                <a href="/users/menu">Menu</a>
            </li>
        </ul>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>

        <!-- Page Content -->
        <section class="menu-categories">
            <div id='wrap'>
                <div id='calendar'></div>
                <div style='clear:both'></div>
            </div>
            <!-- /.container -->
        </section>
        <div id="user-orders-container">
            <table class="table">
                <caption><h5><span class="thin">YOUR</span><span class="thick">ORDERS</span></h5></caption>
                <thead class="thead-custom">
                <tr>
                    <th scope="col">Your orders</th>
                    <th scope="col">Ordered dishes</th>
                    <th scope="col">Dish price</th>
                    <th scope="col">Delete order</th>
                </tr>
                </thead>
                <tbody id="user-orders-list">
                <% if(orders.dishes !== null) { %>
                    <% orders.forEach(function(order, i, arr) { %>

                        <tr name='Order <%= i+1 %>' date="<%= order.orderDate %>" class="order-header">
                            <td>Order <%= i+1%></td>
                            <td><%= order.orderDate%></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <% order.dishes.forEach(function(dish, i, arr) { %>
                        <tr>
                            <td></td>
                            <td><%= dish.itemTitle %></td>
                            <td><%= dish.itemCost %></td>
                            <td><img src="/images/<%= dish.image %>" id="image"></td>
                        </tr>

                        <% }); %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button type="reset" class="btn btn-outline-danger btn-sm" id="<%= order._id %>"><span
                                            aria-hidden="true">&#10006;</span></button>
                            </td>
                        </tr>
                    <% }); %>
                <% }; %>
                </tbody>
            </table>
        </div>

        <!-- Popup Form -->
        <div class="hide-content" id="new-order-form">
            <button id="close-order-form" class="btn btn-outline-danger">
            <span
                    aria-hidden="true">&#10006;</span>
            </button>
            <form role="form" action="/users/createOrder" method="post" id="add-order-form">

                    <div class="form-group" id="order-form">


                        <label class="font-weight-bold">Choose Dish</label>
                        <div id="order-dishes-list">
                            <table class="table">
                                <tbody>
                                <% docs.forEach(function(item, i, arr) { %>

                                <table class="table">
                                    <% if(item.dishes.length) {%>
                                    <caption><h5><%= item.categoryName %></h5></caption>
                                    <thead class="thead-custom">
                                    <tr>
                                        <th scope="col">Select</th>
                                        <th scope="col">Dish Title</th>
                                        <th scope="col">Dish Description</th>
                                        <th scope="col"></th>
                                        <th scope="col">Dish Price</th>
                                    </tr>
                                    </thead>
                                    <tbody id="exchange-rates">

                                        <% dishes.forEach(function(dish, i, arr) { %>
                                            <% if(dish._category.categoryName == item.categoryName) { %>

                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="checkbox" name="dishId"
                                                               value="<%= dish._id %>">
                                                    </label>
                                                </td>
                                                <td><%= dish.itemTitle %></td>
                                                <td><%= dish.itemDescription %></td>
                                                <td><img src="/images/<%= dish.image %>" id="image"></td>
                                                <td><%= dish.itemCost %></td>
                                            </tr>

                                            <% }; %>
                                        <% }); %>

                                    </tbody>
                                        <% }; %>
                                    <% }); %>
                                    </tbody>
                                </table>

                            </table>
                        </div>

                        <label class="font-weight-bold">Order date</label>
                        <input class="form-control input-sm"
                               type="text" name="orderDate" placeholder="" value="" id="order-date" readonly>
                        <input name="userId" type="hidden" value="<%= user._id %>">
                        <br>
                        <input class="btn btn-outline-success text-uppercase" id="create-order" type="submit"
                               value="Create Order">
                    </div>
            </form>

        </div>
    </div>
</div>
<div class="hide-content" id="popup-background"></div>


<script src="/javascripts/calendar.js"></script>
<!--<script src="/javascripts/calendarDisable.js"></script>-->

