<link rel='stylesheet' href='/stylesheets/admin.css'/>
<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/admin/menuEdit">Categories</a>
            </li>
            <li>
                <a href="/users/admin/dishesOptions">Dishes</a>
            </li>
            <li>
                <a href="/users/admin/ordersOptions">Orders</a>
            </li>
            <li>
                <a href="/users/admin/commentsOptions">Comments</a>
            </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 dishes-options-wrapper">

        <div class="col-lg-12 dishes-options">
            <h1 class="page-header">Comments Options</h1>
        </div>

        <div class="col-lg-12 dishes-options">

                <div class="row">
                    <div id="admin-comments-list" class="admin-list">
                        <table class="table">
                            <tbody>
                            <% categories.forEach(function(category, i, arr) { %>
                            <table class="table">
                                <caption><h5><%= category.categoryName %></h5></caption>
                                <thead>
                                <tr>
                                    <th scope="col">Dish</th>
                                    <th scope="col">Comments</th>

                                </tr>
                                </thead>
                                <tbody>
                                <% category.dishes.forEach(function(dish, i, arr) { %>
                                            <tr class="category-row">

                                                    <td class="dish-cell">

                                                            <div><%= dish.itemTitle %></div>
                                                            <div><img src="/images/<%= dish.image %>"></div>


                                                    </td>
                                                    <td class="comments-cell">
                                                        <% dish.comments.forEach(function(comment, i, arr) { %>
                                                        <div class="user-comment">
                                                            <div><%= comment._user.email %></div>
                                                            <div><%= comment.createdAt.toLocaleString("en") %></div>
                                                            <div><%= comment.commentBody %></div>
                                                            <button type="reset" class="btn btn-outline-danger btn-sm delete-order"
                                                                    id="<%= comment._id %>"><span
                                                                        aria-hidden="true">&#10006;</span></button>
                                                        </div>





                                                        <% }); %>
                                                    </td>

                                            </tr>
                                <% }); %>
                                </tbody>
                                <% }); %>
                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>

        </div>

    </div>
</div>
<!-- /#wrapper -->

<script src="/javascripts/orderOptions.js"></script>
<script src="/javascripts/admin.js"></script>