<link rel='stylesheet' href='/stylesheets/dashBoard.css'/>


<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/users/calendar">Calendar</a>
            </li>
            <li>
                <a href="/users/menu">Menu</a>
            </li>
        </ul>
    </div>


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>
        <div class="col-lg-12 container-fluid row rating-header">
            <div class="col-lg-4 card mb-3 rating-category"><h4>MOST LIKED</h4></div>
            <div class="col-lg-4 card mb-3 rating-category"><h4>YOURS MOST ORDERED</h4></div>
            <div class="col-lg-4 card mb-3 rating-category"><h4>YESTERDAY HITS</h4></div>
        </div>
        <!-- Page Content -->
        <section class="col-lg-12 dashboard-section row">

                    <div class="col-lg-4 card mb-3 rating-category">
                        <% dishLike.forEach(function(dish, i, arr) { %>
                        <div class="mb-2">
                            <div >
                                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <strong class="d-inline-block mb-2 text-primary"><%= dish._category.categoryName %></strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="#"><%= dish.itemTitle %></a>
                                        </h3>
                                        <% if(dish.dishLikes.length) { %>
                                        <div class="mb-1 text-muted"><img class="like" src="/images/like-liked.svg"><%= dish.dishLikes.length %></div>
                                        <% } else { %>
                                            <div class="mb-1 text-muted"><img class="like" src="/images/like.svg"></div>
                                        <% } %>
                                        <p class="card-text mb-auto"><%= dish.itemDescription %></p>
                                        <a href="/users/dishes/<%= dish._category._id %>">Manage the Category</a>
                                    </div>
                                    <img class="card-img-right flex-auto d-none d-lg-block dish" src="/images/<%= dish.image %>" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                        <% })  %>
                    </div>
                    <div class="col-lg-4 card mb-3 rating-category">
                        <% dishOrder.forEach(function(dish, i, arr) { %>
                        <div class="mb-2">
                            <div >
                                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                    <div class="card-body d-flex flex-column align-items-start">
                                        <strong class="d-inline-block mb-2 text-primary"><%= dish._category.categoryName %></strong>
                                        <h3 class="mb-0">
                                            <a class="text-dark" href="#"><%= dish.itemTitle %></a>
                                        </h3>
                                        <% if(dish.orders.length) { %>
                                            <div class="mb-1 text-muted"><%= dish.orders.length %> Orders</div>
                                        <% } else { %>
                                            <div class="mb-1 text-muted">Not ordered yet</div>
                                        <% } %>
                                        <p class="card-text mb-auto"><%= dish.itemDescription %></p>
                                        <a href="/users/dishes/<%= dish._category._id %>">Manage the Category</a>
                                    </div>
                                    <img class="card-img-right flex-auto d-none d-lg-block dish" src="/images/<%= dish.image %>" alt="Card image cap">
                                </div>
                            </div>
                        </div>
                        <% })  %>
                    </div>
                    <div class="col-lg-4 card mb-3 rating-category">
                        <% dishOrderYesterday.forEach(function(dish, i, arr) { %>
                            <div class="mb-2">
                                <div >
                                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                                        <div class="card-body d-flex flex-column align-items-start">
                                            <strong class="d-inline-block mb-2 text-primary"><%= dish._category.categoryName %></strong>
                                            <h3 class="mb-0">
                                                <a class="text-dark" href="#"><%= dish.itemTitle %></a>
                                            </h3>
                                            <% if(dish.orders.length) { %>
                                            <div class="mb-1 text-muted"><%= dish.orders.length %> Orders</div>
                                            <% } else { %>
                                                <div class="mb-1 text-muted">Not ordered yet</div>
                                            <% } %>
                                            <p class="card-text mb-auto"><%= dish.itemDescription %></p>
                                            <a href="/users/dishes/<%= dish._category._id %>">Manage the Category</a>
                                        </div>
                                        <img class="card-img-right flex-auto d-none d-lg-block dish" src="/images/<%= dish.image %>" alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        <% })  %>
                    </div>


        </section>

    </div>

    <!-- /#page-content-wrapper -->

</div>


