<link rel='stylesheet' href='/stylesheets/admin.css'/>
<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/admin/menuEdit">Categories</a>
            </li>
            <li>
                <a href="/users/admin/dishesOptions">Dishes</a>
            </li>
            <li>
                <a href="/users/admin/ordersOptions">Orders</a>
            </li>
            <li>
                <a href="/users/admin/commentsOptions">Comments</a>
            </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 dishes-options-wrapper">

        <div class="col-lg-12 dishes-options">
            <h1 class="page-header">Dishes Options</h1>
        </div>

        <div class="col-lg-12 dishes-options">
            <form role="form" action="/users/admin/addDish" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-lg-4">
                        <label class="font-weight-bold">Select the category</label>
                        <div class="card mb-3">
                            <% docs.forEach(function(item, i, arr) { %>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" checked id="<%= item._id %>"
                                               value="<%= item._id %>"><%= item.categoryName %>
                                    </label>
                                </div>
                            <% }); %>
                        </div>
                    </div>


                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-4 dishes-options-details">
                        <label class="font-weight-bold">Add Dish Title</label>
                        <input class="form-control input-sm"
                               type="text" name="dishTitle" placeholder="Enter dish title" required>
                        <label class="font-weight-bold">Add Dish Description</label>
                        <input class="form-control input-sm"
                               type="text" name="dishDescription" placeholder="Enter dish description" required>
                        <label class="font-weight-bold">Add Dish Cost</label>
                        <input class="form-control input-sm"
                               type="number" name="dishCost" placeholder="Enter dish cost" required>
                    </div>
                    <div class="col-lg-4 dishes-options-details">
                        <label class="font-weight-bold">Add Dish Picture</label><br>
                        <input type="text" name="name" id="name" placeholder="Description" required><br>

                        <div class="row file-upload-wrapper">
                            <img src="/images/cutlery.svg" class="imageAdd" id="image">
                            <label>
                                <input type="file" name="photo" onchange="showImage.call(this)" class="photoAdd"
                                       id="photo">
                                <span class="btn btn-outline-success text-uppercase">Upload photo</span>
                            </label>
                        </div>
                        <br>
                        <input class="btn btn-outline-success text-uppercase" id="add-dish" type="submit"
                               value="Add dish">
                    </div>

                </div>
            </form>
            <div class="row">
                <div id="admin-dishes-table" class="admin-list">
                    <table class="table">
                        <tbody>
                        <% docs.forEach(function(item, i, arr) { %>
                        <table class="table">
                            <caption><h5><%= item.categoryName %></h5></caption>
                            <thead>
                            <tr>
                                <th scope="col">Dish Title</th>
                                <th scope="col">Dish Description</th>
                                <th scope="col">Dish Price</th>
                                <th scope="col"></th>
                                <th scope="col">Edit Dish</th>
                                <th scope="col">Delete Dish</th>
                            </tr>
                            </thead>
                            <tbody>

                            <% dishes.forEach(function(dish, i, arr) { %>
                                <% if(dish._category.categoryName == item.categoryName) { %>
                                    <tr>
                                        <form role="form" action="/users/admin/renameDish/<%= dish._id %>"
                                              method="post" enctype="multipart/form-data">
                                            <td>
                                                <input class="form-control input-sm dish-information"
                                                       type="text" name="dishTitle" placeholder="<%= dish.itemTitle %>"
                                                       id="<%= dish._id + 'dishTitle' %>" value="<%= dish.itemTitle %>"
                                                       required readonly>
                                            </td>
                                            <td>
                                                        <textarea class="form-control input-sm dish-information"
                                                                  type="text" name="dishDescription"
                                                                  placeholder="<%= dish.itemDescription %>"
                                                                  id="<%= dish._id + 'dishDescription' %>"
                                                                  required readonly><%= dish.itemDescription %>
                                                        </textarea>

                                            </td>
                                            <td>
                                                <input class="form-control input-sm dish-information"
                                                       type="number" name="dishCost" placeholder="<%= dish.itemCost %>"
                                                       id="<%= dish._id + 'dishCost' %>" value="<%= dish.itemCost %>"
                                                       required readonly>
                                            </td>
                                            <td>

                                                <div class="">
                                                    <img src="/images/<%= dish.image %>"
                                                         class="<%= dish._id + 'imageEdit' %>" id="">
                                                    <label>
                                                        <input type="file" name="editPhoto"
                                                               onchange="showImage.call(this)" class="photoAdd"
                                                               id="editPhoto" required>
                                                        <span class="btn btn-outline-success text-uppercase hide-content"
                                                              id="<%= dish._id + 'uploadPhoto' %>">Upload photo</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit"
                                                        class="btn btn-outline-success btn-sm save-dish hide-content"
                                                        id="<%= dish._id + 'saveDish' %>"><span
                                                            aria-hidden="true">&#10004;</span></button>
                                        </form>

                                        <button type="reset" class="btn btn-outline-dark btn-sm edit-dish"
                                                id="<%= dish._id + 'editDish' %>"><span
                                                    aria-hidden="true">&#9998;</span></button>
                                        </td>
                                        <td>
                                            <button type="reset" class="btn btn-outline-danger btn-sm delete-dish"
                                                    id="<%= dish._id %>"><span
                                                        aria-hidden="true">&#10006;</span></button>
                                        </td>
                                    </tr>
                                <% }; %>
                            <% }); %>

                            </tbody>
                            <% }); %>
                            </tbody>
                        </table>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- /#wrapper -->

<script src="/javascripts/dishesOptions.js"></script>
<script src="/javascripts/admin.js"></script>