<link rel='stylesheet' href='/stylesheets/dishes.css'/>
<div id="wrapper">

    <div id="page-content-wrapper">
        <div class="container-fluid">
        <h1><%= dishes[0]._category.categoryName %></h1>
        </div>
        <div class="row category-dishes">

            <% dishes.forEach(function(item, i, arr) { %>
                <div class="col-lg-4 col-sm-6 portfolio-item dish-card">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="/images/<%= item.image %>" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#"><%= item.itemTitle %></a>
                            </h4>
                            <p class="card-text"><%= item.itemDescription %></p>
                            <p class="card-text">Cost $<%= item.itemCost %></p>
                        </div>
                        <div class="card-body like-comment-container">

                            <div>
                                <form role="form" action="/users/addDishLike/<%= item._id %>" method="post">
                                    <div class="add-dish-like">
                                        <!--<input class="form-control input-sm"-->
                                               <!--type="text" name="commentBody" placeholder="Enter Your Comment" required>-->


                                            <button class="btn btn-lg btn-primary btn-block text-uppercase btn-form add-dish-like-button" type="submit" name="addLike">
                                                <%function isExist(like) {return String(like._user) === String(userId)}%>
                                                <% if(item.dishLikes.some(isExist)){ %>
                                                    <img class="comment" src="/images/like-liked.svg" alt="">
                                                <% } else { %>
                                            <svg class="heart"
                                                 viewBox="0 0 51.997 51.997" style="enable-background:new 0 0 51.997 51.997;"
                                                 xml:space="preserve">
                                                <g>
                                                    <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
		c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
		c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
		C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25
		c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826
		c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514
		c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z"/>
                                                </g>
                                            </svg>
                                                <% }  %>
                                            </button>


                                    </div>
                                </form>
                            </div>
                            <div>
                                <% if(item.dishLikes.length) {%>
                                <div>
                                    <%= item.dishLikes.length%>
                                </div>
                                <% }%>
                            </div>
                            <div>
                            <a class="comment">
                                <img class="comment" src="/images/comment.svg" alt="">
                            </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <form role="form" action="/users/addComment/<%= item._id %>" method="post">
                                <div class="add-comment">
                                    <input class="form-control input-sm"
                                           type="text" name="commentBody" placeholder="Enter Your Comment" required>
                                    <button class="btn text-uppercase" type="submit">Send</button>

                                </div>
                            </form>
                        </div>
                        <div class="card-body comments-container">
                            <% item.comments.forEach(function(comment, i, arr) { %>
                                <div class="media border p-3 comment-container">

                                    <div class="comment-buttons">
                                        <% if(String(comment._user._id) == String(userId) || (userRole == 'Admin')) {%>

                                                <button type="reset" class="edit-comment-button" id="<%= comment._id + 1 %>">
                                                    &#9998;
                                                </button>
                                                <button type="reset" class="delete-comment-button" id="<%= comment._id %>" >
                                                    &#10008;
                                                </button>
                                        <% }%>
                                    </div>
                                    <div class="comment-body">
                                        <img src="/images/man.svg" alt="<%= comment._user.email %>" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                        <div class="media-body comment-message">
                                            <h6><%= comment._user.email %> <small><i>Posted on <%= comment.createdAt.toLocaleString("en-US") %></i></small></h6>
                                            <form role="form" action="/users/editComment/<%= comment._id %>" method="post">
                                                <textarea name="commentBody"><%= comment.commentBody %></textarea>
                                                <button class="btn text-uppercase hide-content save-comment-button" type="submit" id="<%= comment._id + 11 %>">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            <% }); %>

                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

    </div>

</div>
<script src="/javascripts/dishes.js"></script>