<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Food Delivery</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/formhack.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/sidebar.css'/>
    <script src="/javascripts/jquery.min.js"></script>
    <style>body{margin-top: 3em}</style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<link rel='stylesheet' href='/stylesheets/font-awesome.min.css'/>-->

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom">
    <a class="navbar-brand" href="/users/menu">GrubHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <% if(Object.keys(user).length === 0 && user.constructor === Object){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                </li>

            <% }else{ %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/menu">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
            <% } %>
            <% if(user.role == 'Admin'){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/admin">Start Admin</a>
                </li>
            <% } %>
            <% if(user){ %>
            <li class="nav-item active">
                <a class="nav-link profile" href="/users/menu" id="<%= user._id %>"><%= user.email %></a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>

<%- body %>
<!-- Footer -->
<footer class="py-5 footer-custom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GrubHub 2018</p>
    </div>
    <!-- /.container -->
</footer>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/http-client.js"></script>
<script src="/javascripts/index.js"></script>

</body>

</html>