<link rel='stylesheet' href='/stylesheets/login.css'/>


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <div class="foo">
                        <span class="letter" data-letter="L">L</span>
                        <span class="letter" data-letter="O">O</span>
                        <span class="letter" data-letter="G">G</span>
                        <span class="letter" data-letter="I">I</span>
                        <span class="letter" data-letter="N">N</span>
                    </div>
                    <form role="form" action="/users/login" method="post" class="form-signin">

                        <label class="login" for="email">
                            <input id="email" type="text" name="email" placeholder="Email Address" required>
                        </label>

                        <hr>
                        <label class="login" for="password">
                            <input id="password" type="password" name="password" placeholder="Password" required>
                        </label>

                        <input class="btn btn-lg btn-primary btn-block text-uppercase btn-form" type="submit" value="Login">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
