<link rel='stylesheet' href='/stylesheets/admin.css'/>
<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/admin/menuEdit">Categories</a>
            </li>
            <li>
                <a href="/users/admin/dishesOptions">Dishes</a>
            </li>
            <li>
                <a href="/users/admin/ordersOptions">Orders</a>
            </li>
            <li>
                <a href="/users/admin/commentsOptions">Comments</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="col-lg-12">
            <h1 class="page-header">Categories Options</h1>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-3 admin-list" id="admin-categories-list">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col-lg-1">Name</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% docs.forEach(function(item, i, arr) { %>
                                <tr>
                                    <form role="form" action="/users/admin/renameCategory/<%= item._id %>" method="post">
                                    <td><input class="form-control input-sm category-name"
                                               type="text" name="categoryName" placeholder="<%= item.categoryName %>" id="<%= item._id + 11 %>" value="<%= item.categoryName %>" readonly required></td>
                                    <td><%= item.createdAt %></td>
                                    <td>
                                        <button type="submit" class="btn btn-outline-success btn-sm save-category hide-content" id="<%= item._id + 2 %>">
                                            <span aria-hidden="true">&#10004;</span></button>
                                    </form>
                                        <button class="btn btn-outline-dark btn-sm edit-category" id="<%= item._id + 1 %>">
                                            <span aria-hidden="true">&#9998;</span></button>
                                    </td>

                                    <td>
                                        <button type="reset" class="btn btn-outline-danger btn-sm delete-category" id="<%= item._id %>">
                                            <span aria-hidden="true">&#10006;</span></button>
                                    </td>
                                </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6">
                    <form role="form" action="/users/admin/addCategory" method="post">
                        <div class="form-group">
                            <label class="font-weight-bold">Add Category Title</label>
                            <input class="form-control input-sm"
                                   type="text" name="categoryName" placeholder="Enter Category Title" required>
                            <br>
                            <input class="btn btn-primary text-uppercase add-category" type="submit" value="Add Category">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/admin.js"></script>