<link rel='stylesheet' href='/stylesheets/menu.css'/>

<link rel='stylesheet' href='/stylesheets/header2.css'/>

<link rel='stylesheet' href='/stylesheets/menuLinks/component.css'/>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/users/calendar">Calendar</a>
            </li>
            <li>
                <a href="/users/menu">Menu</a>
            </li>
        </ul>
    </div>


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>

        <!-- Page Content -->
        <section class="menu-categories">
            <div class="container">
                <div class="foo">
                    <span class="letter" data-letter="C">C</span>
                    <span class="letter" data-letter="A">A</span>
                    <span class="letter" data-letter="T">T</span>
                    <span class="letter" data-letter="E">E</span>
                    <span class="letter" data-letter="G">G</span>
                    <span class="letter" data-letter="O">O</span>
                    <span class="letter" data-letter="R">R</span>
                    <span class="letter" data-letter="I">I</span>
                    <span class="letter" data-letter="E">E</span>
                    <span class="letter" data-letter="S">S</span>
                </div>
                <h1 class="logo">
                    <span class="word1">MAKE</span>
                    <span class="word2">CHOISE</span>
                </h1>


                <h3 class="my-4">MAIN INGREDIENT</h3>
                <p>Popular delivery food on GrubHub</p>
                <div class="row categories-list">
                    <% categories.forEach(function(item, i, arr) { %>
                        <div class="col-lg-4 col-sm-6 text-center mb-4 categories-links">
                            <!--<img class="rounded-circle img-fluid d-block mx-auto category" src="/images/plate.jpg" alt="">-->

                            <img src="/images/box.svg" style="width: 120px">
                            <div class="card-body like-comment-container">

                                <div>
                                    <form role="form" action="/users/addCategoryLike/<%= item._id %>" method="post">
                                        <div class="add-dish-like">
                                            <!--<input class="form-control input-sm"-->
                                                   <!--type="text" name="commentBody" placeholder="Enter Your Comment" required>-->
    
    
                                                <button class="btn btn-lg btn-primary btn-block text-uppercase btn-form add-dish-like-button" type="submit" name="addLike">
                                                    <%function isExist(like) {return String(like._user) === String(userId)}%>
                                                    <% if(item.categoryLikes.some(isExist)){ %>
                                                        <img class="comment" src="/images/like-liked.svg" alt="">
                                                    <% } else { %>
                                                <svg class="heart"
                                                     viewBox="0 0 51.997 51.997" style="enable-background:new 0 0 51.997 51.997;"
                                                     xml:space="preserve">
                                                    <g>
                                                        <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
            c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
            c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
            C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25
            c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826
            c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514
            c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z"/>
                                                    </g>
                                                </svg>
                                                    <% }  %>
                                                </button>
    
    
                                        </div>
                                    </form>
                                </div>
                                <div class="like_category_counter">
                                    <% if(item.categoryLikes.length) {%>
                                    <div>
                                        <%= item.categoryLikes.length%>
                                    </div>
                                    <% }%>
                                </div>
                            </div>
                            <nav class="cl-effect-20">
                                <a href="/users/dishes/<%= item._id %>" class="categories"><span data-hover="<%= item.categoryName %>"><%= item.categoryName %></span></a>
                            </nav>
                            
                        </div>


                    <% }); %>
                </div>


            </div>
            <!-- /.container -->
        </section>
    </div>
    <!-- /#page-content-wrapper -->

</div>


