<link rel='stylesheet' href='/stylesheets/admin.css'/>
<link rel='stylesheet' href='/stylesheets/toggleOptions.css'/>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Choose Option
                </a>
            </li>
            <li>
                <a href="/users/admin/menuEdit">Categories</a>
            </li>
            <li>
                <a href="/users/admin/dishesOptions">Dishes</a>
            </li>
            <li>
                <a href="/users/admin/ordersOptions">Orders</a>
            </li>
            <li>
                <a href="/users/admin/commentsOptions">Comments</a>
            </li>
        </ul>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="link-1">
                <a href="#menu-toggle" id="menu-toggle">
                    <span class="thin">Toggle</span><span class="thick">Options</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3 dishes-options-wrapper">

        <div class="col-lg-12 dishes-options">
            <h1 class="page-header">Orders Options</h1>
        </div>

        <div class="col-lg-12 dishes-options">

            <div class="row">
                <div id="admin-orders-list" class="admin-list">
                    <table class="table">
                        <tbody>
                        <% orders.forEach(function(order, i, arr) { %>
                        <table class="table">
                            <caption><h5><%= order._user.email %></h5></caption>
                            <thead>
                            <tr>
                                <th scope="col">Order Description</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Delete Order</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <% order.dishes.forEach(function(dish, i, arr) { %>
                                        <div><%= dish.itemTitle %></div>
                                    <% }); %>
                                </td>
                                <td>
                                    <%= order.orderDate %>
                                </td>
                                <td>
                                    <button type="reset" class="btn btn-outline-danger btn-sm delete-order"
                                            id="<%= order._id %>"><span
                                                aria-hidden="true">&#10006;</span></button>
                                </td>
                            </tr>

                            </tbody>
                            <% }); %>
                            </tbody>
                        </table>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- /#wrapper -->

<script src="/javascripts/orderOptions.js"></script>
<script src="/javascripts/admin.js"></script>