<link rel='stylesheet' href='/stylesheets/register.css'/>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <div class="foo">
                        <span class="letter" data-letter="R">R</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="G">G</span>
                        <span class="letter" data-letter="I">I</span>
                        <span class="letter" data-letter="S">S</span>
                        <span class="letter" data-letter="T">T</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="R">R</span>
                    </div>
                    <form role="form" action="/users/register" method="post" class="form-signin">

                        <label class="register" for="email">
                            <input id="email" type="text" name="email" placeholder="Email Address" required>
                            <ul class="input-requirements">
                                <li>Input correct email</li>
                            </ul>
                        </label>

                        <hr>
                        <label class="register" for="password">
                            <input  id="password" type="password" name="password" placeholder="Password" required>
                            <ul class="input-requirements">
                                <li>At least 8 characters long (and less than 100 characters)</li>
                                <li>Contains at least 1 number</li>
                                <li>Contains at least 1 lowercase letter</li>
                                <li>Contains at least 1 uppercase letter</li>
                                <li>Contains a special character (e.g. @ !)</li>
                            </ul>
                        </label>

                        <label class="register" for="password_confirmation">
                            <input class="form-control input-sm" id="password_confirmation" type="password" name="confirmationPassword" placeholder="Confirm Password" required>
                            <ul class="input-requirements">
                                <li>This password needs to match the first one</li>
                            </ul>
                        </label>
                        <input class="btn btn-lg btn-primary btn-block text-uppercase btn-form" type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
