body {
    height: 100%;
    margin: 0;
    background-color: #945D60;
}
.container {
    height: 97%;
    margin-top: 0;
    margin-bottom: 0;
}

.mx-auto {
    margin-top: 200px;
}

#email,
#password {
    width: 100%;
}
#page-content-wrapper {
    height: 17%;
}

.login {
    width: 100%;
    padding: 0;
}

.add-category {
    margin-top: 20px;
    border-color: #626E60 !important;
    border-radius: 4px !important;
    color: white !important;
}

.add-category:hover {
    color: #626E60 !important;
    border-color: white!important;
}

#add-dish {
    color: white;
    margin: 0 0 20px 0;
}

#add-dish:hover {
    color: #626E60;
}

.dishes-options-wrapper {
    overflow-x: hidden;
    height: 80%;
}
.dishes-options {
    flex: none;
    max-width: none;
}

.dishes-options-details {
    width: 100%;
}

.dishes-options-details input {
    width: 100%;
}

/*Download picture styles*/
.personal-photo {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.file-upload label {
    padding: 8px 25px 8px 25px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    border-radius: 5px;
}
.file-upload-wrapper {
    margin: 20px;
}

img {
    border-radius: 20%;
    height: 120px;
    width: 120px;
    border: 1px solid gray;
}
#photo, #editPhoto {
    display: none;
    outline: none !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border: none !important;
}
/* End Download picture styles*/



.admin-list {
    padding: 10px;
    overflow-x: hidden;
    height: 60vh;
    width: 100%;
}
.admin-list thead {
    background-color: #3C3C3C;
    color: white;
}

.dish-information {
    width: auto;
}

.admin-list textarea {
    width: 40vh;
}

.admin-list button {
    width: 5vh;
}

.category-name {
    width: auto;
    background-color: unset;
}

/*Comments Options*/
#admin-comments-list {
    height: 100%;
}

.dish-cell {
    width: 10%;
}
.comments-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*End Comments Options*/



@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
box-sizing:border-box;
}
body{
font-family: 'Lato', sans-serif;
;
}
div.foo{
width: 90%;
margin: 0 auto;
text-align: center;
}
.letter{
display: inline-block;
font-weight: 800;
font-size: 2.7em;
margin: 0.2em;
position: relative;
color: #3C3C3C;
transform-style: preserve-3d;
perspective: 400;
z-index: 1;
}
.letter:before, .letter:after{
position:absolute;
content: attr(data-letter);
transform-origin: top left;
top:0;
left:0;
}
.letter, .letter:before, .letter:after{
transition: all 0.3s ease-in-out;
}
.letter:before{
color: #fff;
text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
z-index: 3;
transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
color: rgba(0,0,0,.11);
z-index:2;
transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
color: #fafafa;
transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
