html, body {
	height: 100%;
	margin: 0;
	text-align: center;
	background: #595959 url(bg.png);
}

.container {
	margin-top: 0;
	margin-bottom: 0;
}

#email,
#password {
	width: 100%;
}

.login {
	width: 100%;
	padding: 0;
}

.btn {
	margin-top: 20px;
}

h1, h3, a {
	color: #222;
	text-shadow: 0px 2px 3px #555;
}

.dashboard-section {
	overflow-x: hidden;
	height: 82%;
}

#page-content-wrapper {
	height: 100%;
}

.rating-header {
	height: 6%;
	padding: 0;

}
.rating-header h4 {
	font: Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
}

.rating-category {
	overflow-x: hidden;
	border: none;
	background: #595959 url(bg.png);
}

.like {
	width: 2vh;
	margin-right: 2vh;
}
.dish {
	height: 30vh;
	width: 40%;
	/* Link to your background image using in the property below! */
	background: scroll center;
	background-size: cover;
	object-fit: cover;
}

::-webkit-resizer,
::-webkit-scrollbar-track {
	display: none;
}
