.container h1 {
    padding-top: 7vh;
}

.category-dishes {
    height: 88%;
    overflow-x: hidden !important;
}

.card {
    overflow-x: hidden !important;
}

.dish-card {
    height: 100%;
}

.like {
    width: 4vh;
}
.like-comment-container {
    display: flex;
    justify-content: space-around;
}

.add-dish-like-button,
.add-dish-like-button:hover,
.add-dish-like-button:active{
    all: unset !important;
    width: 4vh;
    cursor: pointer !important;
}

.comment {
    width: 4vh;
}
.heart {
    width: 4vh;
}
.heart:hover {
    fill: red;
}
.like, .comment {
    cursor: pointer;
}
.add-comment {
     display: flex;
     /*flex-direction: ;*/
}
.add-comment input {
    flex: 10;
}
.add-comment button {
    flex: 2;
}
.comments-container {
    /*overflow-x: hidden;*/
    height: 25vh;
}
.comment-container {
    display: flex;
    flex-direction: column;

}
.comment-body {
    /*height: 100%;*/
    display: flex;
}
.comment-body img {
    height: 60px;
}
.comment-container button {
    all: unset;
 }
.comment-buttons {
    display: flex;
    justify-content: flex-end !important;
    width: 100%;
    cursor: pointer;
    margin: -10px 0 0 0 !important;
}
.comment-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.comment-message input {
    height: 10vh;
}
.edit-comment-button {
}

.edit-comment-button:hover {
    color: red;
}

.delete-comment-button {
    margin-left: 10px !important;
}
.delete-comment-button:hover {
    cursor: pointer;
    color: red;
}

.comment-container h4 {

}
.hide-content {
    display: none !important;
}


