:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

html, body {
    height: 100%;
    margin: 0 !important;
    text-align: center;
}
body {
    height: 100%;

    background-size: cover;
}

.hide-content {
    display: none;
}

.container-fluid {
    height: 12%;
    padding-top: 25px;

}

.container {
    margin-top: 0;
    margin-bottom: 0;
}

#email,
#password {
    width: 100%;
}

.login {
    width: 100%;
    padding: 0;
}

h1, h3, a {
    color: #222;
    text-shadow: 0px 2px 3px #555;
}

.dashboard-section {
    height: 50%;
}

.menu-categories {
    overflow-x: hidden;
    height: 80%;
}

/*New styles*/
.container {
    margin-top: 0;
    margin-bottom: 0;
}

#email,
#password {
    width: 100%;
}

.login {
    width: 100%;
    padding: 0;
}

h1, h3, a {
    color: #222;
    text-shadow: 0px 2px 3px #555;
}

.dashboard-section {
    height: 50%;
}

.menu-categories {
    overflow-x: hidden;
    height: 80%;
}
/*New styles end*/

td {
    cursor: pointer;
}
caption {
    caption-side: top;
}

a {
    color: BLACK;
}

.container {
    height: 100%;
}

a:hover {
    color: BLACK;
}

.navbar-custom {
    background-color: #3C3C3C;
    border-color: #AF473C;
}

.footer-custom {
    background-color: #3C3C3C;
    border-color: #AF473C;
    padding: 0 !important;
    height: 3%;
}

.dashboard-section {
    height: 800px;
}

#wrapper {
    margin: 0px 20px 0px 20px;
    height: 97%;
}
.menu-categories {
    overflow-x: hidden;
    height: 100%;
}
.admin-page-content {
    height: 900px;

}
#admin-categories-list,

#admin-dishes-list {
    padding: 10px;
    overflow-x: hidden;
    height: 400px;
}

#admin-categories-detailed-list h5 {
    text-align: center;
}

#add-dish {
    margin-top: 20px;
}
.btn-form {
    padding: 0 !important;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
.category {
    width: 200px;
    height: 200px;

}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url(../images/registration.jpg);
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: CRIMSON;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

#page-content-wrapper {
    height: 100%;
}

/*Scrollbar styles */
::-webkit-scrollbar-button {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: darkgray;
}
::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}
::-webkit-resizer {
    width: 4px;
    height: 0px;
}
::-webkit-scrollbar {
    width: 2px;
    overflow: hidden;
}
.like {
    width: 4vh;
}
.like-comment-container {
    display: flex;
    justify-content: space-around;

}
.add-dish-like-button,
.add-dish-like-button:hover,
.add-dish-like-button:active{
    all: unset !important;
    width: 4vh;
    cursor: pointer !important;

}


.comment {
    width: 4vh;
}



.heart {
    width: 4vh;
    margin-left: -2vw;
}
.heart:hover {
    fill: red;
}
.like, .comment {
    cursor: pointer;
}
.add-comment {
     display: flex;
     /*flex-direction: ;*/
}
.add-comment input {
    flex: 10;
}
.add-comment button {
    flex: 2;
}
.comment-container {

}
.comment-container button {
    all: unset;
 }

.delete-comment-button {
    cursor: pointer;
    margin: -10px 0 0 10px !important;
}
.delete-comment-button:hover {
    cursor: pointer;
    color: red;
}
.like_category_counter {
    position: absolute;
    left: 57%;
}

