html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 20%;
    padding-top: 25px;

}

.container {
    margin-top: 0;
    margin-bottom: 0;
}

#email,
#password {
    width: 100%;
}

.login {
    width: 100%;
    padding: 0;
}

.btn {
    margin-top: 20px;
}

h1, h3, a {
    color: #222;
    text-shadow: 0px 2px 3px #555;
}
/*body {*/
    /*background: #474747 url(bg.png);*/
/*}*/

.menu-categories {

    /*padding: 10px;*/
    overflow-x: hidden;
    height: 80%;
}

#page-content-wrapper {
    height: 100%;
}


/*OPTIONS LINK*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);

html, body {
    height: 100%;
    margin: 0;
    font-family: Lato;
    color: white;
}

#page1 { background: #2d2d2d; }

.thin { font-weight: 300; }
.thick { font-weight: 900; }

.link-1 a {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

.link-1 p {
    font-weight: 100;
    font-size: 80%;
    margin: 1px;
}

[class^="link-"] {
    display: inline-block;
    margin: 2em
}

/* linkone */
.link-1 a:before, .link-1 a:after {
    content: '';
    border-bottom: solid 1px #ff4852;
    position: absolute;
    bottom: 0;
    width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
    width: 50%;
}

.link-1 a:before, .link-1 a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* linktwo */
.link-1 a:hover {
    color: #ff4852;
}
.link-1 p:hover {
    color: #5CAAEF;
}

.link-2 a:before {
    content: '';
    border-bottom: solid 1px #5CAAEF;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;

    opacity: 0;
}

.link-2 a:hover:before {
    opacity: 1.0;
}

.link-2 a, .link-2 a:before {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* linkthree */
.link-3 a:before {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
}

.link-3 a:hover:before {
    -webkit-transform: scaleY(4);
    -moz-transform: scaleY(4);
    -ms-transform: scaleY(4);
    -o-transform: scaleY(4);
    transform: scaleY(4);
}

.link-3 a:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* linkfour */
.link-4 a:before {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
}

.link-4 a:hover:before {
    border-bottom: solid thin #5CAAEF;
}

.link-4 a:before {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* linkfive */
.link-5 a:before {
    content: '';
    border-bottom: solid 1px white;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
}

.link-5 a:hover:before {
    -webkit-transform: scaleY(4);
    -moz-transform: scaleY(4);
    -ms-transform: scaleY(4);
    -o-transform: scaleY(4);
    transform: scaleY(4);
    border-bottom: solid thin #5CAAEF;
}

.link-5 a:before {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* linksix */
.link-6 a:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.link-6 a {
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

/* linkseven */
.link-7 a:before {
    content: '';
    border-bottom: solid 1px #d9534f;
    position: absolute;
    bottom: 0; left: 30%;
    width: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.link-7 a:hover:before {
    border-bottom: solid thin #d9534f;
    width: 40%;
    -webkit-animation: heartbeat-x 1.7s infinite ease-in;
    animation: heartbeat-x 1.7s infinite ease-in;
}

.link-7 a:hover {
    -webkit-animation: heartbeat 1.7s infinite ease-in;
    animation: heartbeat 1.7s infinite ease-in;
}

@-webkit-keyframes heartbeat {
    0% { -webkit-transform: scale(1); }
    10% { -webkit-transform: scale(1.1); }
    20% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1.1); }
    40% { -webkit-transform: scale(1); }
}

@-webkit-keyframes heartbeat-x {
    0% { -webkit-transform: scaleX(0); }
    10% { -webkit-transform: scaleX(1); }
    20% { -webkit-transform: scaleX(0); }
    30% { -webkit-transform: scaleX(1); }
    40% { -webkit-transform: scaleX(0); }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    10% { transform: scale(1.1); }
    20% { transform: scale(1); }
    30% { transform: scale(1.1); }
    40% { transform: scale(1); }
}

@keyframes heartbeat-x {
    0% { transform: scaleX(0); }
    10% { transform: scaleX(1); }
    20% { transform: scaleX(0); }
    30% { transform: scaleX(1); }
    40% { transform: scaleX(0); }
}

/*Scrollbar styles */
::-webkit-scrollbar-track {
    background-color: unset;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: #3C3C3C;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #AF473C;
}


@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
    box-sizing:border-box;
}
body{
    font-family: 'Lato', sans-serif;
;
}
div.foo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.letter{
    display: inline-block;
    font-weight: 800;
    font-size: 3em;
    margin: 0.2em;
    position: relative;
    color: #3C3C3C;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}
.letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
}
.letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
}
.letter:before{
    color: #fff;
    text-shadow:
            -1px 0px 1px rgba(255,255,255,.8),
            1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
            rotateX(0deg)
            rotateY(-15deg)
            rotateZ(0deg);
}
.letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
            scale(1.08,1)
            rotateX(0deg)
            rotateY(0deg)
            rotateZ(0deg)
            skew(0deg,1deg);
}
.letter:hover:before{
    color: #fafafa;
    transform:
            rotateX(0deg)
            rotateY(-40deg)
            rotateZ(0deg);
}
.letter:hover:after{
    transform:
            scale(1.08,1)
            rotateX(0deg)
            rotateY(40deg)
            rotateZ(0deg)
            skew(0deg,22deg);
}

