:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    /*background: scroll center url('https://source.unsplash.com/BTs7uDqVeqI/414x512');*/
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);*/
    /*!* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);*/
    /*!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}
td {
    cursor: pointer;
}
caption {
    caption-side: top;
}

a {
    color: BLACK;
}

a:hover {
    color: BLACK;
}

#wrapper {
    /*padding: 0px 20px 20px 100px;*/
    margin: 0px 20px 20px 20px;
}
.menu-categories {
    overflow-x: hidden;
    height: 100%;
    min-height: 768px;
}
#admin-categories-list,

#admin-dishes-list {
    padding: 10px;
    overflow-x: hidden;
    height: 400px;
}
#admin-categories-detailed-list {
    padding: 10px;
    overflow-x: hidden;
    height: 500px;

}
#admin-categories-detailed-list h5 {
    text-align: center;
}

#add-dish {
    margin-top: 20px;
}
.btn-form {
    padding: 0 !important;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
.category {
    width: 200px;
    height: 200px;

}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url(../images/registration.jpg);
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/*Scrollbar styles */
::-webkit-scrollbar-button {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: darkgray;
}
::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}
::-webkit-resizer {
    width: 4px;
    height: 0px;
}
::-webkit-scrollbar {
    width: 8px;
    overflow: hidden;
}