/*OPTIONS LINK*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);

/*html, body {*/
    /*height: 100%;*/
    /*margin: 0;*/
    /*!*font-family: Lato;*!*/
    /*color: white;*/
/*}*/

#page1 { background: #2d2d2d; }

.thin { font-weight: 300; }
.thick { font-weight: 900; }

.link-1 a {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    font-family: Lato;
}

.link-1 p {
    font-weight: 100;
    font-size: 80%;
    margin: 1px;
}

[class^="link-"] {
    display: inline-block;
    margin: 2em
}

/* linkone */
.link-1 a:before, .link-1 a:after {
    content: '';
    border-bottom: solid 1px #ff4852;
    position: absolute;
    bottom: 0;
    width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
    width: 50%;
}

.link-1 a:before, .link-1 a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* linktwo */
.link-1 a:hover {
    color: #ff4852;
}
.link-1 p:hover {
    color: #5CAAEF;
}

@-webkit-keyframes heartbeat {
    0% { -webkit-transform: scale(1); }
    10% { -webkit-transform: scale(1.1); }
    20% { -webkit-transform: scale(1); }
    30% { -webkit-transform: scale(1.1); }
    40% { -webkit-transform: scale(1); }
}

@-webkit-keyframes heartbeat-x {
    0% { -webkit-transform: scaleX(0); }
    10% { -webkit-transform: scaleX(1); }
    20% { -webkit-transform: scaleX(0); }
    30% { -webkit-transform: scaleX(1); }
    40% { -webkit-transform: scaleX(0); }
}

@keyframes heartbeat {
    0% { transform: scale(1); }
    10% { transform: scale(1.1); }
    20% { transform: scale(1); }
    30% { transform: scale(1.1); }
    40% { transform: scale(1); }
}

@keyframes heartbeat-x {
    0% { transform: scaleX(0); }
    10% { transform: scaleX(1); }
    20% { transform: scaleX(0); }
    30% { transform: scaleX(1); }
    40% { transform: scaleX(0); }
}